<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>YouTube Video Downloader | By Darsh Gupta</title>
  </head>
  <body>
    <center>
      <h1>YouTube Video Downloader</h1>
      <p>By Darsh Gupta</p>
    </center>

    <h2>How to use:</h2>
    <p>
      Using this web app is simple. Just get the ID of the video (eg. ID of
      https://www.youtube.com/watch?v=dQw4w9WgXcQ is dQw4w9WgXcQ), copy it, and
      in the URL bar, paste the ID after a / after the domain name (eg.
      https://www.youtubeviddownloader.com/dQw4w9WgXcQ), and hit enter. Then
      wait for your video to download.
    </p>
  </body>
</html>
